/* @import url(google.fonts//); 
font-family: 'Comfortaa', cursive;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Zen Kurenaido', sans-serif; */

body{
    height: 2550px;
}
nav {
    position: relative;
    text-align: center;
    color: black;
    display: block;
    font-size: 12px;
    width: 100%;
    z-index: 10;
    opacity: 90%;
}
button {
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    box-shadow: #48707B 1px 1px 2px 1px;
    padding: -14px 0 14px 0;
    margin: 0 10px 0 0;
    cursor: pointer;
    height: 20px;
    width: 80px ;
}
main {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("assets/dock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 0 0 0;
    height: 400px;
    display: block;
    position: relative;
}
#blotch{
    /* position: relative; */
    justify-items: center;
    justify-content: center;
    margin: -25px 0 0 20%;
    background-color: #B27024;
    box-shadow: #48707B 0px 0px 20px 20px;
    width: 230px;
    height: 140px;
    z-index: 5;
    opacity: 70%;
    border-radius: 100px / 70px;
}
h1 {
    position: relative;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: -110px 0 0 0;
    color: #862F30;
    text-align: center;
    z-index: 10;
    cursor: pointer;
}

h2 {
    position: relative;
    font-family: 'Zen Kurenaido', sans-serif; 
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    color:black;
    margin: 7px 0 0 0;
    z-index: 10;
}
#contact-subheader{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px 0 0 0;
}
.address {
    display: inline-block;
    color: white;
    width: 170px;
    margin: 100px 0 0 10px;
    z-index: 10;
}
#phone {
    color: white;
}
.directions{
    font-family: 'Zen Kurenaido', sans-serif; 
    background-color: white;
    padding: 5px;
}
.menuPic {
    width: 49%;
    height: auto;
}
.imageBox {
    display: flex;
    margin: 20px 0 0 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.beachImages {
    position: relative;
    justify-content: space-around;
    /* width: 150px; */
    height: auto;
    margin: 5px;
}
.contacts{
    display: block;
    margin: 10px 0 0 90px;
    width: 220px;
}
.contact-icons{
    display: inline-block;
    width: 590px;
    margin: 20px 50px 50px 20px;
    /* border: solid red 1px; */
}
.contacts-icons, img{
    width: 50px;
    height: auto;
}
#insta{
    margin: 0 0 0 20px;
}
.moving-fish {
    position: absolute;
    height: 40px;
    width: auto;
}

#small-fish{
    height: auto;
    z-index: 5;
    transition-property: all;
    transition:  1s;
}
.small-fish-at-rest {
    width: 30px;
    margin: 90px 0 0 150px;
    transform: rotate(65deg);
}
.small-fish-jumping-up {
    width: 35px;
    margin: 60px 0 0 100px;
    transform: rotate(65deg);
    /* transition:  4s; */
}
.small-fish-jumping-down {
    width: 50px;
    margin: 120px 0 0 50px;
    transform: rotate(-45deg);
    transition:  4s;
}

#blue-fish{
    height: auto;
    z-index: 5;
    width:40px;
    transition-property: all;
    transition:  1s;
}
.blue-fish-at-rest {
    width: 10px;
    margin: 50px 0 0 50px;
    transform: rotate(-40deg);
}
.blue-fish-jumping-up {
    width: 15px;
    margin: 40px 0 0 100px;
    transform: rotate(-45deg);
    /* transition:  4s; */
}
.blue-fish-jumping-down {
    width: 18px;
    margin: 90px 0 0 150px;
    transform: rotate(85deg);
    transition:  4s;
}

#shark-fin{
    height: auto;
    z-index: 5;
    transition-property: all;
    transition:  ease-in-out 5s;
}
.shark-fin-at-rest {
    width: 10px;
    margin: 90px 0 0 270px;
}
.shark-fin-swimming {
    width: 10px;
    margin: 90px 0 0 50px;
}
#spoonbill {
    height: auto;
    z-index: 5;
    transition-property: all;
    transition:  ease-in-out 3.5s;
}
.spoonbill-at-rest {
    width: 85px;
    margin: 0px 0 0 0px;
}
.spoonbill-flying {
    width: 45px;
    margin: -40px 0 0 100%;
}

.hidden {
    visibility: hidden;
}
.visibile{
    visibility: visible;
}
#media{
    display: none;
    border: crimson solid 2px;
    position: fixed;
    z-index: 10;
    height: 20px;
    width: 20px;
    border-radius: 50px;
}


/* <-- MEDIA QUERIES  ----> */


@media only screen and (min-width: 280px) and (max-width: 374px){
    #media{
        display: none;
        background-color: lightblue;
    }
    nav{
        width: 100%;
    }
    button{
        width: 65px;
    }
    #blotch{
        margin: -25px 0 0 22%;
        width: 140px;
        height: 100px;
    }
    h1{
        margin: -72px 0 0 -5px;
        font-size: 16px;
    }
    h2{
        font-size: 12px;
    }
    #shark-fin{
        width: 20px;
    }
    .shark-fin-at-rest {
        margin:50px 0 0 290px;
    }
    .shark-fin-swimming {
        margin: 50px 0 0 50px;
    }
}
@media only screen and (min-width: 360px) {
    #blotch{
        margin: -25px 0 0 29%;
    }
    .shark-fin-at-rest {
        margin: 70px 0 0 290px;
    }
    .shark-fin-swimming {
        margin: 70px 0 0 50px;
    }
}
@media only screen and (min-width: 375px) {
    #media{
        display:none;
        background-color: blue;
    }
    #blotch{
        margin: -25px 0 0 19%;
    }
}
@media only screen and (min-width: 393px) {
    .shark-fin-at-rest {
        margin:70px 0 0 290px;
    }
    .shark-fin-swimming {
        margin: 70px 0 0 50px;
    }
}

@media only screen and (min-width: 540px) {
    #media{
        display:none;
        background-color: darkblue;
    }
    main{
        height: 700px;
        background-size: 100vmin
    }
    #blotch{
        margin: -25px 0 0 29%;
    }
    .address {
        margin: 205px 0 0 10px;
        width: 250px;
        font-size: 26px;
    }
    #shark-fin,#blue-fish,#small-fish{
        width: 40px;
    }
    .small-fish-at-rest {
        margin: 260px 0 0 150px;
    }
    .small-fish-jumping-up {
        margin: 260px 0 0 100px;
    }
    .small-fish-jumping-down {
        margin: 390px 0 0 50px;
    }
    .blue-fish-at-rest {
        margin: 160px 0 0 180px;
    }
    .blue-fish-jumping-up {
        margin: 180px 0 0 230px;
    }
    .blue-fish-jumping-down {
        margin: 210px 0 0 280px;
    }
    .shark-fin-at-rest {
        margin: 110px 0 0 390px;
    }
    .shark-fin-swimming {
        margin: 110px 0 0 150px;
    }
}
@media only screen and (min-width: 768px) {
    #blotch{
        margin: -25px 0 0 35%;
    }
    .small-fish-at-rest {
        margin: 320px 0 0 150px;
    }
    .small-fish-jumping-up {
        margin: 290px 0 0 100px;
    }
    .small-fish-jumping-down {
        margin: 450px 0 0 50px;
    }
    .blue-fish-at-rest {
        margin: 200px 0 0 180px;
    }
    .blue-fish-jumping-up {
        margin: 200px 0 0 230px;
    }
    .blue-fish-jumping-down {
        margin: 250px 0 0 280px;
    }
    .shark-fin-at-rest {
        margin: 210px 0 0 390px;
    }
    .shark-fin-swimming {
        margin: 210px 0 0 150px;
    }
}

@media only screen and (min-width: 820px) {
    #media{
        display:none;
        background-color: lightyellow;
    }
    body{
        height: 4300px;
    }
    main{
        height: 1200px;
    }
    #blotch{
        margin: -25px 0 0 22%;
    }
    .address {
        margin: -95px 0 0 10px;
        font-size: 30px;
        width: 300px;
        z-index: 9;
    }
    #blue-fish,#small-fish{
        width: 80px;
    }
    #shark-fin{
        width: 50px;
    }
    .small-fish-at-rest {
        margin: 390px 0 0 150px;
    }
    .small-fish-jumping-up {
        margin: 360px 0 0 100px;
    }
    .small-fish-jumping-down {
        margin: 520px 0 0 50px;
    }

    .blue-fish-at-rest {
        margin: 200px 0 0 180px;
    }
    .blue-fish-jumping-up {
        margin: 210px 0 0 230px;
    }
    .blue-fish-jumping-down {
        margin: 240px 0 0 280px;
    }
    .shark-fin-at-rest {
        margin: 250px 0 0 590px;

    }
    .shark-fin-swimming {
        margin: 250px 0 0 150px;
    }
}
@media only screen and (min-width: 820px) {
    #blotch{
        margin: -25px 0 0 38%;
    }
    .address{
        margin: 500px 0 0 10px;
    }
    .small-fish-at-rest {
        margin: 390px 0 0 150px;
    }
    .small-fish-jumping-up {
        margin: 360px 0 0 100px;
    }
    .small-fish-jumping-down {
        margin: 520px 0 0 50px;
    }

    .blue-fish-at-rest {
        margin: 230px 0 0 180px;
    }
    .blue-fish-jumping-up {
        margin: 240px 0 0 230px;
    }
    .blue-fish-jumping-down {
        margin: 270px 0 0 280px;
    }
    .shark-fin-at-rest {
        margin: 280px 0 0 590px;
    }
    .shark-fin-swimming {
        margin: 280px 0 0 150px;
    }
    @media only screen and (min-width: 964px) {
        .shark-fin-at-rest {
            margin: 290px 0 0 590px;
        }
        .shark-fin-swimming {
            margin: 290px 0 0 150px;
        }

    }   
}
@media only screen and (min-width: 1024px) {
 main{
     background-position:center;
     background-position-y: top;
     height: 1200px;
 }
 .address{
     margin: 540px 0 0 60px;
 }
 #blue-fish,#small-fish{
    width: 40px;
}
#shark-fin{
    width: 30px;
}
 .small-fish-at-rest {
    margin: 180px 0 0 450px;
}
.small-fish-jumping-up {
    margin: 150px 0 0 300px;
}
.small-fish-jumping-down {
    margin: 350px 0 0 250px;
}

.blue-fish-at-rest {
    margin: 130px 0 0 280px;
}
.blue-fish-jumping-up {
    margin: 100px 0 0 330px;
}
.blue-fish-jumping-down {
    margin: 170px 0 0 380px;
}
.shark-fin-at-rest {
    margin: 270px 0 0 610px;
}
.shark-fin-swimming {
    margin: 270px 0 0 210px;
    }   
}
@media only screen and (min-width: 1280px) {
    #blotch{
        margin: -25px 0 0 41%;
    }
    #media{
        display:none;
    }
    .address{
        margin: 320px 0 0 400px;
    }
    .small-fish-at-rest {
        margin: 270px 0 0 550px;
    }
    .small-fish-jumping-up {
        margin: 240px 0 0 400px;
    }
    .small-fish-jumping-down {
        margin: 520px 0 0 350px;
    }
    .blue-fish-at-rest {
        margin: 230px 0 0 330px;
    }
    .blue-fish-jumping-up {
        margin: 200px 0 0 380px;
    }
    .blue-fish-jumping-down {
        margin: 270px 0 0 380px;
    }
    .shark-fin-at-rest {
        margin: 300px 0 0 710px;
    }
    .shark-fin-swimming {
        margin: 300px 0 0 450px;
        }  
}
@media only screen and (min-width: 1478px) {
    #blotch{
        margin: -25px 0 0 42%;
    }
}